<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">

    <insert id="insertBatch" >
        INSERT INTO setmeal_dish (setmeal_id, dish_id, name, price, copies)
        Values
            <foreach collection="setmealDishes" item="t" separator=",">
                (#{t.setmealId},#{t.dishId},#{t.name},#{t.price},#{t.copies})
            </foreach>
    </insert>
</mapper>
